/** Global Styling */

/*
    The First Friend Submenu Child
*/
.submenu-friend-firstchild {
    border-top: #01C4AD solid 1px;
    padding-top: 4px;
}

.submenu-friend {
    animation: fadeIn 200ms linear;
}